07_Recursos/workflow_05_pos_venda.json
{
  "meta": {
    "instanceId": "kronosintelligence"
  },
  "name": "05-pos-venda-diana",
  "nodes": [
    {
      "parameters": {},
      "id": "ewt-diana-001",
      "name": "Trigger — Receber do Orquestrador",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_CRM_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sessoes_Ativas",
          "mode": "name"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "gsh-sess-diana",
      "name": "Buscar Sessão Diana",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [320, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_CRM_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Agendamentos",
          "mode": "name"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "gsh-agend-diana",
      "name": "Buscar Agendamento",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [320, 480],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Trigger — Receber do Orquestrador').first().json;\nconst { telefone, nome, texto, remoteJid, instancia, timestamp, messageId, intent } = ctx;\n\n// Buscar sessão Diana ativa\nconst todasSessoes = $('Buscar Sessão Diana').all();\nconst sessao = todasSessoes.find(\n  s => s.json.Telefone === telefone && s.json.Agente === 'DIANA' && s.json.Status === 'ativo'\n)?.json ?? null;\n\nlet historico = [];\nif (sessao?.Historico) {\n  try { historico = JSON.parse(sessao.Historico); } catch(e) {}\n}\n\n// Buscar último agendamento do cliente\nconst todosAgend = $('Buscar Agendamento').all();\nconst agendamento = todosAgend\n  .filter(a => a.json.Telefone === telefone && a.json.Status === 'confirmado')\n  .sort((a, b) => new Date(b.json.Data_Hora) - new Date(a.json.Data_Hora))\n  [0]?.json ?? null;\n\nconst procedimentoRealizado = agendamento?.Procedimento ?? 'procedimento';\nconst dataAgendamento = agendamento?.Data_Hora ?? '';\n\nhistorico.push({ role: 'user', content: texto });\n\nconst systemPrompt = `Você é Diana, especialista em pós-atendimento da Clínica de Estética.\n\nSua missão: fazer o cliente se sentir cuidado após o procedimento, coletar feedback de forma natural, identificar interesse em nova sessão ou pacote, e encaminhar para agendamento quando oportuno.\n\nCONTEXTO DO CLIENTE:\n- Procedimento realizado: ${procedimentoRealizado}\n- Data: ${dataAgendamento}\n- Nome: ${nome}\n\n━━━━━━━━━━━━━━━━━━━━━━━\nFLUXO PÓS-PROCEDIMENTO\n━━━━━━━━━━━━━━━━━━━━━━━\n\n## ETAPA 1 — CHECK-IN DE BEM-ESTAR (primeira interação)\nPergunte como o cliente está se sentindo após o procedimento.\nExemplo: \"Oi ${nome}! 😊 Como você está se sentindo após a [procedimento]?\"\n\n## ETAPA 2 — COLETA DE FEEDBACK\nApós receber resposta sobre bem-estar, colete feedback:\n- \"Como foi sua experiência com a nossa equipe?\"\n- Escala implícita: excelente / bom / regular / ruim\n- Registre na ação: nota_feedback (1-5) e comentario_feedback\n\n## ETAPA 3 — CUIDADOS E ORIENTAÇÕES\nOfeça cuidados específicos ao procedimento realizado:\n\n### Limpeza de Pele Profunda\n- Evite sol direto por 48h, use protetor FPS 50+\n- Não use maquiagem nas próximas 24h\n- Hidrate bem a pele — recomendamos sérum vitamina C\n- Leve vermelhidão é normal e passa em 24-48h\n\n### Peeling Químico\n- Não remova a descamação — deixe cair naturalmente (3-7 dias)\n- Protetor solar FPS 50+ é obrigatório por 30 dias\n- Evite exposição solar intensa por 2 semanas\n- Não use esfoliantes ou ácidos por 15 dias\n\n### Botox / Toxina Botulínica\n- Não deite nas primeiras 4h\n- Não faça atividade física intensa por 24h\n- Não massageie a área tratada por 48h\n- Resultado aparece entre 5-15 dias — normal não ver efeito imediato\n- Retorno de avaliação em 2 semanas para ajuste se necessário\n\n### Drenagem Linfática\n- Beba bastante água para potencializar o resultado (2L/dia)\n- Evite alimentos com muito sódio por 48h\n- Frequência recomendada: volte em 2-3 dias para a próxima sessão da série\n\n### Criolipólise\n- Sensibilidade e inchaço locais são normais por 1-2 semanas\n- Resultado aparece entre 30-45 dias — não espere resultado imediato\n- Massagem na área tratada acelera o processo (pode fazer em casa)\n- Avaliação de resultado em 45 dias\n\n### Massagem Modeladora\n- Resultado potencializado com hidratação (2L de água/dia)\n- Frequência ideal: 2x/semana para a série\n- Mantenha alimentação balanceada para maximizar resultado\n\n## ETAPA 4 — REATIVAÇÃO (quando cliente expressa satisfação)\nApós feedback positivo, apresente oportunidade de continuidade:\n\n- Se fez procedimento avulso → ofereça o pacote com desconto\n- Se está em série → lembre da próxima sessão\n- Se tem avaliação pendente (Botox/Criolipólise) → lembre do retorno\n- Se satisfeita → mencione o programa de indicação de amigas\n\nExemplo de abordagem pacote:\n\"Que ótimo que gostou! ${nome}, você sabia que o [procedimento] em pacote fica [X% off]? Se quiser continuar os cuidados, posso te passar para a Bia agendar as próximas sessões com desconto.\"\n\n━━━━━━━━━━━━━━━━━━━━━━━\n\nGUARDRAILS:\n❌ Nunca minimize sintomas — se cliente relata dor intensa, oriente retornar à clínica\n❌ Nunca prometa resultado específico\n✅ Empatia primeiro — valide o sentimento antes de orientar\n✅ Se cliente relata reação adversa → escalar_humano imediatamente\n✅ Seja breve nas orientações — não despeje tudo de uma vez\n\nTOM: Calorosa, próxima, como uma amiga especialista. Frases curtas. Máx 1 emoji.\nNome: ${nome}. Sem \"Querida\", \"Amor\", \"Linda\". Nunca abreviações.\n\nRESPONDA SEMPRE EM JSON VÁLIDO (sem texto fora):\n{\n  \"mensagem\": \"texto para o cliente (max 400 chars)\",\n  \"acao\": \"responder | passar_para_bia | escalar_humano | encerrar\",\n  \"etapa\": \"checkin | feedback | orientacoes | reativacao | encerrado\",\n  \"nota_feedback\": null,\n  \"comentario_feedback\": null,\n  \"interesse_reagendamento\": false,\n  \"encerrar_sessao\": false\n}\n\nQuando usar cada acao:\n- responder: continuar a conversa pós-venda\n- passar_para_bia: cliente quer agendar nova sessão / pacote\n- escalar_humano: reação adversa, reclamação grave, dúvida médica específica\n- encerrar: conversa claramente encerrada`;\n\nreturn [{\n  json: {\n    telefone, nome, texto, remoteJid, instancia, timestamp, messageId, intent,\n    historico,\n    sessao_id: sessao?.ID ?? null,\n    sessao_fase: sessao?.Fase ?? 'checkin',\n    procedimento_realizado: procedimentoRealizado,\n    agendamento_id: agendamento?.ID ?? null,\n    anthropicBody: {\n      model: 'claude-sonnet-5',\n      max_tokens: 2048,\n      system: systemPrompt,\n      messages: historico\n    }\n  }\n}];"
      },
      "id": "code-prompt-diana",
      "name": "Montar Prompt Diana",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.anthropicBody }}",
        "options": {}
      },
      "id": "http-diana-sonnet",
      "name": "Claude Sonnet — Diana",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [780, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst ctx = $('Montar Prompt Diana').first().json;\n\nif (input.error || !input.content) {\n  return [{\n    json: {\n      ...ctx,\n      mensagem: `Oi ${ctx.nome}! Tive uma instabilidade aqui. Como você está se sentindo após o procedimento? 😊`,\n      acao: 'responder',\n      etapa: ctx.sessao_fase,\n      nota_feedback: null,\n      comentario_feedback: null,\n      interesse_reagendamento: false,\n      encerrar_sessao: false,\n      historicoAtualizado: ctx.historico,\n      erro: true\n    }\n  }];\n}\n\nconst rawText = input.content?.find(b => b.type === 'text')?.text ?? '{}';\n\nlet parsed;\ntry {\n  const cleaned = rawText.replace(/```json?/g, '').replace(/```/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = {\n    mensagem: `Oi ${ctx.nome}! Pode repetir como você está se sentindo?`,\n    acao: 'responder',\n    etapa: ctx.sessao_fase,\n    nota_feedback: null,\n    comentario_feedback: null,\n    interesse_reagendamento: false,\n    encerrar_sessao: false\n  };\n}\n\nconst validAcoes = ['responder', 'passar_para_bia', 'escalar_humano', 'encerrar'];\nif (!validAcoes.includes(parsed.acao)) parsed.acao = 'responder';\n\nconst historicoAtualizado = [...ctx.historico, { role: 'assistant', content: parsed.mensagem }];\n\nreturn [{\n  json: {\n    telefone: ctx.telefone,\n    nome: ctx.nome,\n    remoteJid: ctx.remoteJid,\n    instancia: ctx.instancia,\n    timestamp: ctx.timestamp,\n    messageId: ctx.messageId,\n    intent: ctx.intent,\n    sessao_id: ctx.sessao_id,\n    sessao_fase: parsed.etapa ?? ctx.sessao_fase,\n    procedimento_realizado: ctx.procedimento_realizado,\n    agendamento_id: ctx.agendamento_id,\n    mensagem: parsed.mensagem,\n    acao: parsed.acao,\n    etapa: parsed.etapa ?? 'checkin',\n    nota_feedback: parsed.nota_feedback ?? null,\n    comentario_feedback: parsed.comentario_feedback ?? null,\n    interesse_reagendamento: parsed.interesse_reagendamento ?? false,\n    encerrar_sessao: parsed.encerrar_sessao ?? false,\n    historicoAtualizado,\n    diana_raw: rawText\n  }\n}];"
      },
      "id": "code-parse-diana",
      "name": "Parsear Resposta Diana",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.acao }}", "rightValue": "passar_para_bia", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Passar para Bia"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.acao }}", "rightValue": "escalar_humano", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Escalar Humano"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.nota_feedback }}", "rightValue": "", "operator": { "type": "string", "operation": "isNotEmpty" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Salvar Feedback"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "sw-acao-diana",
      "name": "Switch por Ação",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1220, 300]
    },
    {
      "parameters": {
        "jsCode": "const { telefone, nome, remoteJid, instancia, timestamp, messageId,\n        procedimento_realizado, mensagem, historicoAtualizado } = $input.first().json;\n\nreturn [{\n  json: {\n    telefone, nome, remoteJid, instancia, timestamp, messageId,\n    mensagem,\n    acao: 'passar_para_bia',\n    historicoAtualizado,\n    encerrar_sessao: true,\n    procedimento_interesse: procedimento_realizado,\n    topico: 'reagendamento',\n    contexto_bia: {\n      telefone, nome, remoteJid, instancia, timestamp, messageId,\n      texto: `Quero agendar continuação: ${procedimento_realizado}`,\n      intent: 'AGENDAR'\n    }\n  }\n}];"
      },
      "id": "code-prep-bia-diana",
      "name": "Preparar Passagem para Bia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 80]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "02-bia-ref",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ew-chamar-bia-diana",
      "name": "Chamar Bia",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1660, 80],
      "notes": "IMPORTANTE: Após importar, edite este node e selecione o workflow '02-agendamento-bia' manualmente pelo nome."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_CRM_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Feedback_PosVenda",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ new Date($json.timestamp * 1000).toLocaleString('pt-BR') }}",
            "Telefone": "={{ $json.telefone }}",
            "Nome": "={{ $json.nome }}",
            "Procedimento": "={{ $json.procedimento_realizado }}",
            "Nota": "={{ $json.nota_feedback }}",
            "Comentario": "={{ $json.comentario_feedback }}",
            "Interesse_Reagendamento": "={{ $json.interesse_reagendamento ? 'SIM' : 'NAO' }}"
          },
          "schema": []
        },
        "options": {}
      },
      "id": "gsh-feedback-diana",
      "name": "Salvar Feedback",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1440, 480]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst { telefone, nome, acao, etapa, historicoAtualizado,\n        encerrar_sessao, sessao_id, timestamp } = input;\n\nconst agora = new Date().toLocaleString('pt-BR');\nconst statusSessao = (encerrar_sessao || acao === 'encerrar' || acao === 'passar_para_bia')\n  ? 'encerrado'\n  : 'ativo';\nconst historicoLimitado = (historicoAtualizado ?? []).slice(-16);\n\nreturn [{\n  json: {\n    telefone, nome, timestamp, acao, etapa,\n    mensagem: input.mensagem,\n    remoteJid: input.remoteJid,\n    instancia: input.instancia,\n    sessao_id,\n    nota_feedback: input.nota_feedback,\n    interesse_reagendamento: input.interesse_reagendamento,\n    sessao_update: {\n      Agente: 'DIANA',\n      Fase: etapa ?? acao,\n      Historico: JSON.stringify(historicoLimitado),\n      Dado_Temp: JSON.stringify({\n        etapa,\n        procedimento_realizado: input.procedimento_realizado,\n        nota_feedback: input.nota_feedback,\n        interesse_reagendamento: input.interesse_reagendamento\n      }),\n      Atualizado_Em: agora,\n      Status: statusSessao\n    }\n  }\n}];"
      },
      "id": "code-prep-sess-diana",
      "name": "Preparar Sessão",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVO_BASE_URL }}/message/sendText/{{ $env.EVO_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVO_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $json.telefone, text: $json.mensagem } }}",
        "options": {}
      },
      "id": "http-evo-diana",
      "name": "Enviar Mensagem WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2100, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_CRM_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sessoes_Ativas",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefone": "={{ $json.telefone }}",
            "Agente": "DIANA",
            "Fase": "={{ $json.sessao_update.Fase }}",
            "Historico": "={{ $json.sessao_update.Historico }}",
            "Dado_Temp": "={{ $json.sessao_update.Dado_Temp }}",
            "Criado_Em": "={{ $json.sessao_update.Atualizado_Em }}",
            "Atualizado_Em": "={{ $json.sessao_update.Atualizado_Em }}",
            "Status": "={{ $json.sessao_update.Status }}"
          },
          "schema": []
        },
        "options": {}
      },
      "id": "gsh-sess-diana-write",
      "name": "Atualizar Sessão Diana",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2320, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_CRM_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Log_Interacoes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ new Date($json.timestamp * 1000).toLocaleString('pt-BR') }}",
            "Telefone": "={{ $json.telefone }}",
            "Nome": "={{ $json.nome }}",
            "Mensagem": "={{ $json.mensagem }}",
            "Intent": "={{ $json.etapa }}",
            "Resposta": "={{ $json.mensagem }}",
            "Escalacao": "={{ $json.acao === 'escalar_humano' ? 'SIM' : 'NAO' }}"
          },
          "schema": []
        },
        "options": {}
      },
      "id": "gsh-log-diana",
      "name": "Log Interação Diana",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2540, 300]
    }
  ],
  "connections": {
    "Trigger — Receber do Orquestrador": {
      "main": [
        [
          { "node": "Buscar Sessão Diana", "type": "main", "index": 0 },
          { "node": "Buscar Agendamento", "type": "main", "index": 0 }
        ]
      ]
    },
    "Buscar Sessão Diana": {
      "main": [[{ "node": "Montar Prompt Diana", "type": "main", "index": 0 }]]
    },
    "Buscar Agendamento": {
      "main": [[{ "node": "Montar Prompt Diana", "type": "main", "index": 0 }]]
    },
    "Montar Prompt Diana": {
      "main": [[{ "node": "Claude Sonnet — Diana", "type": "main", "index": 0 }]]
    },
    "Claude Sonnet — Diana": {
      "main": [[{ "node": "Parsear Resposta Diana", "type": "main", "index": 0 }]]
    },
    "Parsear Resposta Diana": {
      "main": [[{ "node": "Switch por Ação", "type": "main", "index": 0 }]]
    },
    "Switch por Ação": {
      "main": [
        [{ "node": "Preparar Passagem para Bia", "type": "main", "index": 0 }],
        [{ "node": "Preparar Sessão", "type": "main", "index": 0 }],
        [{ "node": "Salvar Feedback", "type": "main", "index": 0 }],
        [{ "node": "Preparar Sessão", "type": "main", "index": 0 }]
      ]
    },
    "Preparar Passagem para Bia": {
      "main": [[{ "node": "Chamar Bia", "type": "main", "index": 0 }]]
    },
    "Chamar Bia": {
      "main": [[{ "node": "Preparar Sessão", "type": "main", "index": 0 }]]
    },
    "Salvar Feedback": {
      "main": [[{ "node": "Preparar Sessão", "type": "main", "index": 0 }]]
    },
    "Preparar Sessão": {
      "main": [[{ "node": "Enviar Mensagem WhatsApp", "type": "main", "index": 0 }]]
    },
    "Enviar Mensagem WhatsApp": {
      "main": [[{ "node": "Atualizar Sessão Diana", "type": "main", "index": 0 }]]
    },
    "Atualizar Sessão Diana": {
      "main": [[{ "node": "Log Interação Diana", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "clinica-estetica" },
    { "name": "pos-venda" },
    { "name": "diana" }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-06-04T00:00:00.000Z",
  "versionId": "05-diana-v1"
}
